.bg-nav {
    background-color: #f0f0f0;
}

.nav-image {
    border-radius: 50%;
    padding: 5px;
    background: #8e9eab;
    background: -webkit-linear-gradient(to bottom, #eef2f3, #8e9eab);
    background: linear-gradient(to bottom, #eef2f3, #8e9eab);
    margin: 0 10px;
}
.searchbar{
    height: 60px;
}
.navend{
    height: 35px;
    font-size: 14px;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}
.searchbar .navbar div{
    width: 1000px;
}
nav ul li {
    margin-right: 20px;
    font-size: 12px;
}
.location::placeholder{
    color: black;
    position: absolute;
    left: 35px;
}
.location{
    position: relative;
    background-image: url(./images/search.png);
    background-position: left;
    background-position-x: 10px;
    background-size: 20px;
    background-repeat: no-repeat;
}
nav {
    height: 45px;
    background-color: #f7f8f8;
    /* align-items: center; */
}
.sell{
    border: none;
    background-image: url(https://www.olx.com.pk/assets/iconSellBorder_noinline.d9eebe038fbfae9f90fd61d971037e02.svg);
    background-repeat: no-repeat;
    background-color: none;
    width: 104px;
    height: 48px;
}
.categories img{
    width: 90px;
}
.categories p{
    text-align: center;
}
.card{
    height: 500px;
}
.card img{
    height: 50%;
}